
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
header{
    padding: 10px 0;
    margin: 0 auto;
display: flex;

justify-content: space-between;
align-items: center;
    border-bottom: 1px solid #000000;
    

}
.header .head4{
    font-size: 16px;
    font-weight: 700;
}